@charset "UTF-8";

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-just-center {
    display: flex;
    justify-content: space-between;
}

.flex-align-center {
    display: flex;
    align-items: center;
}
