@charset "UTF-8";
@use "mixin" as m;

.flex-center {
    @include m.flex("center", "center");
}

.flex-between {
    @include m.flex("space-between");
}

.flex-between-center {
    @include m.flex("space-between", "center");
}

.flex-around-center {
    @include m.flex("space-around", "center");
}

.flex-just-center {
    @include m.flex("center");
}

.flex-align-center {
    @include m.flex($align: "center");
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    @each $var in -webkit, -khtml, -moz, -ms {
        #{$var}-user-select: none;
    }
    user-select: none;
}

.scroll-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE10+ */
    &::-webkit-scrollbar {
        display: none; /* ChromeSafari */
    }
}
