/* fade */
.fade {
    @at-root {
        &-leave-active,
        &-enter-active {
            transition: all 0.3s;
        }
        &-enter-from,
        &-leave-to {
            opacity: 0;
        }
    }
}
// fade-slide
.fade-slide {
    @at-root {
        &-leave-active,
        &-enter-active {
            transition: all 0.3s;
        }
        &-enter-from {
            opacity: 0;
            transform: translateX(-30px);
        }
        &-leave-to {
            opacity: 0;
            transform: translateX(30px);
        }
    }
}

// scale
.scale {
    @at-root {
        &-enter-active,
        &-leave-active {
            transition: all 0.3s;
        }
        &-enter-from,
        &-leave-to {
            opacity: 0;
            transform: scale(0.8);
        }
    }
}

// scale-slide
.scale-slide {
    @at-root {
        &-enter-active,
        &-leave-active {
            transition: all 0.3s ease;
        }
        &-enter-from {
            transform: translateX(100%);
        }
        &-leave-to {
            opacity: 0;
            transform: scale(0.8);
        }
    }
}

// 列表动画
.list-fade {
    @at-root {
        &-move,
        &-enter-active,
        &-leave-active {
            transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
        }
        &-leave-active {
            position: absolute;
        }
        &-enter-from,
        &-leave-to {
            opacity: 0;
            transform: scaleY(0.01) translate(30px, 0);
        }
    }
}
