.ndraw-fade-leave-active {
    transition: right 0.2s cubic-bezier(0.4, 0, 1, 1);
}
.ndraw-fade-enter-active {
    transition: right 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.ndraw-fade-enter-to,
.ndraw-fade-leave-from {
    right: 0;
}
.ndraw-fade-enter-from,
.ndraw-fade-leave-to {
    right: 250px;
}

/* fade */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all 0.5s;
}

.fade-transform-enter {
    opacity: 0;
    transform: translateX(-30px);
}

.fade-transform-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
